<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>instance</title>
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>{{ foo }}</p>
      <!-- obj.foo는 더이상 변하지 않습니다! -->
      <button v-on:click="foo = '지원!'">Change it</button>
    </div>
    <script src="../src/Instance.js"></script>
  </body>
</html>
